@page
@model Alumni76.Pages.MobileNotSupportedModel
@{
    Layout = null;
}
@{
    ViewData["Title"] = "האתר לא תומך מכשירים ניידים";   /* "Mobile Not Supported"; */
}

@* <h2>Mobile Access Not Supported</h2>
<p>This web application is optimized for desktop use. Please access it from a computer.</p> *@

<br /><br />
<center>
    <p style="font-size:5em;font-weight:bold;">האתר אינו מותאם למכשירים ניידים</p>
    <br />
    <p style="font-size:3em;">האתר מותאם למסכים גדולים. נא להשתמש במחשב שולחני</p>
</center>