@page
@model Alumni76.Pages.VerifyCodeModel
@{
    bool isFirstTime = Model.CurrentUser?.LastLogin == null;
    ViewData["Title"] = isFirstTime ? "הגדרת סיסמה ראשונית" : "אימות שינוי אימייל";
}

<h1>@ViewData["Title"]</h1>
<h3>(נשלח באימייל)</h3>
<br />
<br />
@if (!string.IsNullOrEmpty(Model.CurrentUser?.PendingEmail))
{
    <div class="alert alert-info">
        קוד אימות נשלח לכתובת: <strong>@Model.CurrentUser.PendingEmail</strong>
    </div>
}
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                <label asp-for="Code"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            @if (isFirstTime)
            {
                <div class="form-group">
                    <label asp-for="NewPassword"></label>
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <br />
            }
           
            <div class="form-group">
                @if (isFirstTime)
                {
                    <button type="submit" class="btn btn-primary">אימות ושינוי סיסמה</button>
                }
                else
                {
                    <button type="submit" class="btn btn-primary">שלח</button>
                }
                </div>
            
            <div asp-validation-summary="All" class="text-danger"></div>
        </form>
    </div>
</div>
