@model Bagrut_Eval.Models.FilterModel
@using Bagrut_Eval.Utilities

<div class="modal fade" id="filterSortModal" tabindex="-1" aria-labelledby="filterSortModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <h5 class="modal-title" id="filterSortModalLabel">&nbsp&nbsp&nbspסינון</h5>
            </div>
            <form method="post" asp-page-handler="ApplyFilter" class="form-horizontal">
                <input type="hidden" name="SelectedExamId" value="@(ViewData["SelectedExamId"])" />
                <input type="hidden" asp-for="DisplayShowActiveOrOpen" />
                <input type="hidden" asp-for="DisplayShowClosed" />
                <input type="hidden" asp-for="DisplayDescriptionSearch" />
                <input type="hidden" asp-for="DisplayUserNameSearch" />
                <input type="hidden" asp-for="DisplayFilterDate" />
                <input type="hidden" asp-for="DisplayShowNewerThanLastLogin" />

                <div class="modal-body">
                    @if (Model.DisplayShowClosed)
                    {
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <div style="direction:rtl; font-size:larger;">
                                        <input asp-for="ShowClosed" type="checkbox" class="form-check-input" />
                                        הצג נושאים סגורים
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    @if (Model.DisplayShowNewerThanLastLogin)
                    {
                        <div class="row mt-2">
                            <div class="col-12">
                                <div class="form-group">
                                    <div style="direction:rtl; font-size:larger;">
                                        <input asp-for="ShowNewerThanLastLogin" type="checkbox" class="form-check-input" />
                                        שאלות חדשות לאחר כניסה אחרונה
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    @if (Model.DisplayShowActiveOrOpen)
                    {
                        <div class="row mt-2">
                            <div class="col-12">
                                <div class="form-group">
                                    <div style="direction:rtl; font-size:larger;">
                                        <input asp-for="ShowActiveOrOpen" type="checkbox" class="form-check-input" />
                                        הצג רק פעילים (או פתוחים)
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <br /><br />
                    @if (Model.DisplayDescriptionSearch)
                    {
                        <div class="row mt-3">
                            <div class="col-12">
                                <div class="form-group">
                                    <label asp-for="DescriptionSearch" class="form-control-md">חיפוש בתיאור:</label>
                                    <input asp-for="DescriptionSearch" class="form-control" />
                                </div>
                            </div>
                        </div>
                    }
                    @if (Model.DisplayUserNameSearch)
                    {
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label asp-for="UserNameSearch" class="form-control-md">חיפוש בשם משתמש:</label>
                                    <input asp-for="UserNameSearch" class="form-control" />
                                </div>
                            </div>
                        </div>
                    }
                    @if (Model.DisplaySubjectSearch)
                    {
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label asp-for="SubjectSearch" class="form-control-md">חיפוש בשם המקצוע:</label>
                                    <input asp-for="SubjectSearch" class="form-control" />
                                </div>
                            </div>
                        </div>
                    }
                    @if (Model.DisplayFilterDate)
                    {
                        var fromDate = Model.FilterFromDate.HasValue ? TimeConverter.ConvertUtcToIsraelTime(Model.FilterFromDate.Value).ToString("yyyy-MM-dd") : "";
                        var toDate = Model.FilterToDate.HasValue ? TimeConverter.ConvertUtcToIsraelTime(Model.FilterToDate.Value).ToString("yyyy-MM-dd") : "";
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="FilterFromDate" class="form-control-md">מתאריך</label>
                                    <input asp-for="FilterFromDate" type="date" class="form-control-md" value="@fromDate" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="FilterToDate" class="form-control-md">עד תאריך</label>
                                    <input asp-for="FilterToDate" type="date" class="form-control-md" value="@toDate" />
                                </div>
                            </div>
                        </div> 
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">סגור</button>
                    <button type="submit" class="btn btn-primary">החל סינון</button>
                </div>
            </form>
        </div>
    </div>
</div>
